# Node
node_modules/
frontend/node_modules/
frontend/dist/
dist/
dist-ssr/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Spring Boot / Maven
backend/target/

# Environment
*.local
.env
.env.*

# IDE
.vscode/
.idea/
*.iml
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db
